# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# JavaScript, NodeJS, ReactJS
node_modules/
npm-debug.log
yarn-lock.txt
.pnp.js
.flowconfig
coverage/
dist/
build/

# General
.DS_Store
.editorconfig
.eslintcache
.gitattributes
.gitignore
.jshintrc
.lintrc
.npmrc
.prettierrc
.travis.yml
.vscode/
/.idea/
*.log
*.sqlite3

# Selenium, WebdriverIO
*.json
*.xml
*.dll
*.exe
*.dat
wdio.conf.js
webdriver.log
webdriver.sessions.json

# Allure Report, TestNG, Cucumber
allure-results/
test-output/
testng-failed.xml
features/
steps/
target/

# Gradle, Maven
.gradle/
.mvn/
*.ser
*.lck
*.bin
*.properties

# Others
*.swp
*.bak
*.tmp
*.pid
*.old
*.sync
